In [1]:
n = 15
if n > 10:
    if n % 2 == 0:
        result = "Even and greater than 10"
    else:
        result = "Odd and greater than 10"
else:
    result = "10 or below"
print(result)

Odd and greater than 10

In [3]:
n = 5
if n > 10:
    if n % 2 == 0:
        result = "Even over 10"
    else:
        result = "Odd over 10"
else:
    result = "10 or below"
print(result)

10 or below

In [5]:
n = 12
if n >= 10:
    if n % 3 == 0:
        result = "Divisible by 3 and at least 10"
    else:
        result = "Not divisible by 3 but at least 10"
else:
    result = "Below 10"
print(result)

Divisible by 3 and at least 10

In [7]:
n = 20
if n > 15:
    if n % 4 == 0:
        result = "Multiple of 4 and >15"
    else:
        result = ">15 but not multiple of 4"
else:
    result = "15 or below"
print(result)

Multiple of 4 and >15

In [9]:
n = 10
if n > 10:
    if n % 2 == 0:
        result = "Even and >10"
    else:
        result = "Odd and >10"
else:
    result = "10 or below"
print(result)

10 or below

In [11]:
n = 14
if n > 10:
    if n % 2 == 1:
        result = "Odd and >10"
    else:
        result = "Even and >10"
else:
    result = "10 or below"
print(result)

Even and >10

In [24]:
count = 0
for i in range(1, 10, 2):
    count += i
    print(count)

1
4
9
16
25

In [26]:
count = 0
for i in range(2, 11, 2):
    count += i
    print(count)

2
6
12
20
30

In [28]:
count = 0
for i in range(0, 10, 3):
    count += i
    print(count)

0
3
9
18

In [30]:
count = 0
for i in range(5, 15):
    count += 1
    print(count)

1
2
3
4
5
6
7
8
9
10

In [32]:
count = 0
for i in range(1, 6):
    count += i * 2
    print(count)

2
6
12
20
30

In [34]:
count = 0
for i in range(2, 20, 2):
    count += i // 2
    print(count)

1
3
6
10
15
21
28
36
45

In [36]:
count = 0
for i in range(0, 12, 4):
    count += i + 1
    print(count)

1
6
15