In [1]:
def calculate_atr(years_of_experience, age):
    if years_of_experience > 25 and age >= 55:
        return 5600000
    elif years_of_experience > 20 and age >= 45:
        return 4480000
    elif years_of_experience > 10 and age >= 35:
        return 1500000
    else:
        return 550000

# Example usage:
years = int(input("Enter years of experience: "))
age = int(input("Enter age of staff: "))
atr = calculate_atr(years, age)
print(f"The Annual Tax Revenue (ATR) is: N{atr}")

Enter years of experience:  40
Enter age of staff:  50

The Annual Tax Revenue (ATR) is: N4480000

In [3]:
 # Data for the class
girls = [
    {"Name": "Evelyn", "Age": 17, "Height": 5.5, "Score": 80},
    {"Name": "Jessica", "Age": 16, "Height": 6.0, "Score": 85},
    {"Name": "Somto", "Age": 17, "Height": 5.4, "Score": 70},
    {"Name": "Edith", "Age": 18, "Height": 5.9, "Score": 60},
    {"Name": "Liza", "Age": 16, "Height": 5.6, "Score": 76},
    {"Name": "Madonna", "Age": 18, "Height": 5.5, "Score": 66},
    {"Name": "Waje", "Age": 17, "Height": 6.1, "Score": 87},
    {"Name": "Tola", "Age": 20, "Height": 6.0, "Score": 95},
    {"Name": "Aisha", "Age": 19, "Height": 5.7, "Score": 50},
    {"Name": "Latifa", "Age": 17, "Height": 5.5, "Score": 49},
]

boys = [
    {"Name": "Chinedu", "Age": 19, "Height": 5.7, "Score": 74},
    {"Name": "Liam", "Age": 16, "Height": 5.9, "Score": 87},
    {"Name": "Wale", "Age": 18, "Height": 5.8, "Score": 75},
    {"Name": "Gbenga", "Age": 17, "Height": 6.1, "Score": 68},
    {"Name": "Abiola", "Age": 20, "Height": 5.9, "Score": 66},
    {"Name": "Kola", "Age": 19, "Height": 5.5, "Score": 78},
    {"Name": "Kunle", "Age": 16, "Height": 6.1, "Score": 87},
    {"Name": "George", "Age": 18, "Height": 5.4, "Score": 98},
    {"Name": "Thomas", "Age": 17, "Height": 5.8, "Score": 54},
    {"Name": "Wesley", "Age": 19, "Height": 5.7, "Score": 60},
]

# Merge girls' and boys' data
students = girls + boys

# Display the table
print(f"{'Name':<10} {'Age':<5} {'Height':<7} {'Score':<6}")
print("-" * 30)
for student in students:
    print(f"{student['Name']:<10} {student['Age']:<5} {student['Height']:<7} {student['Score']:<6}")

Name       Age   Height  Score
------------------------------
Evelyn     17    5.5     80
Jessica    16    6.0     85
Somto      17    5.4     70
Edith      18    5.9     60
Liza       16    5.6     76
Madonna    18    5.5     66
Waje       17    6.1     87
Tola       20    6.0     95
Aisha      19    5.7     50
Latifa     17    5.5     49
Chinedu    19    5.7     74
Liam       16    5.9     87
Wale       18    5.8     75
Gbenga     17    6.1     68
Abiola     20    5.9     66
Kola       19    5.5     78
Kunle      16    6.1     87
George     18    5.4     98
Thomas     17    5.8     54
Wesley     19    5.7     60