In [5]:
def printme( str ):
    #This is a print function
    print (str);
    return;
    
print("I'm first call to user defined function!");
print("Agaiin second call in the same function");

I'm first call to user defined function!
Agaiin second call in the same function

In [7]:
def changeme( mylist ):
    #This changes a passed list
    mylist.append([1,2,3,4])
    print ("Value inside the function: ", mylist)
    return
mylist = [10,20,30]
changeme( mylist )
print("Value outside the function: ", mylist)

Value inside the function:  [10, 20, 30, [1, 2, 3, 4]]
Value outside the function:  [10, 20, 30, [1, 2, 3, 4]]

In [9]:
def changeme( mylist ):
    #This changes a passed list
    mylist = [1,2,3,4];
    print ("Value inside the function: ", mylist)
    return
mylist = [10,20,30];
changeme( mylist );
print("Value outside the function: ", mylist)

Value inside the function:  [1, 2, 3, 4]
Value outside the function:  [10, 20, 30]

In [13]:
def printme( str ):
    #This prints a passed string
    print (str);
    return;
printme( str = "My string");

My string

In [17]:
def printinfo( name, age ):
    #Test function
    print("Name: ", name);
    print("Age: ", age);
    return;
printinfo( age=50, name="miki" );

Name:  miki
Age:  50

In [19]:
def printinfo( name, age = 35):
    #Test function
    print("Name: ", name);
    print("Age: ", age);
    return;
printinfo( age=50, name="miki" );
printinfo( name="miki" );

Name:  miki
Age:  50
Name:  miki
Age:  35

In [21]:
def printinfo( arg1, *vartuple ):
    #This is test
    print("Output is: ")
    print(arg1)
    for var in vartuple:
        print(var)
        return;
printinfo( 10 );
printinfo( 70,60,50 );

Output is:
10
Output is:
70
60

In [23]:
total = 50; # This is a global variable.
def sum( arg1, arg2 ):
    # Add both the parameters
    total = arg1 + arg2;
    print ("Inside the function local total : ", total)
    return total;
# Now you can call sum function
sum( 10, 20 );
print ("Outside the function global total : ", total)

Inside the function local total :  30
Outside the function global total :  50

In [ ]:
def swap(x, y):
    global a
    a = Lawal
    x,y = y,x
    b = "Chris"
    b = "Edward"
    c = "Lola"
    print(a,b,x,y)
    a = "mARY